@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-peach-100: #f7e0d4;
  --color-aubergine-700: rgb(5, 66, 54);
}

@layer base {

  .crazy {
    filter: url(#crazy);
  }
  .wonky {
    filter: url(#wonky);
  }
  .xerox {
    filter: url(#xerox);
  }

  .hover-xerox:hover {
    filter: url(#xerox);
  }

  html {
    @apply subpixel-antialiased bg-peach-100 text-aubergine-700;
  }

  p a, li a {
    @apply transition-all duration-150;
  }

  p a, li a {
    @apply transition-all duration-150;
    filter: url(#wonky);
  }
  p a:hover, li a:hover {
    filter: url(#xerox);
    &.not-hover-xerox {
      filter: url(#wonky);
    }
  }

  .prose-custom {
    @apply font-normal prose xl:prose-xl prose-h1:text-aubergine-700 prose-h2:text-aubergine-700 prose-h3:text-aubergine-700 prose-h4:text-aubergine-700 prose-li:text-aubergine-700 prose-a:text-aubergine-700 prose-strong:text-aubergine-700 prose-ul:text-aubergine-700 prose-ol:text-aubergine-700 prose-blockquote:text-aubergine-700 prose-img:text-aubergine-700 prose-ul:marker:text-aubergine-700 prose-ol:marker:text-aubergine-700 prose-blockquote:text-aubergine-700 prose-blockquote:font-bold prose-blockquote:border-aubergine-700 prose-blockquote:border-l-4 prose-blockquote:pl-4 prose-blockquote:text-3xl prose-blockquote:not-italic;
    p, li {
      @apply md:text-lg lg:text-xl leading-relaxed text-aubergine-700;
    }
    .blockquote p {
      filter: url(#xerox);
    }
    img {
      @apply mb-0
    }
    img + em {
      @apply text-aubergine-700 text-sm not-italic;
    }

    .tweet {
      @apply p-4 bg-white rounded-lg;
      filter: url(#xerox);

      p {
        @apply my-0;
      }
    }
  }

  .content-container {
    @apply mx-auto w-full md:max-w-screen-md;

    h1, h2 {
      filter: url(#xerox);
      @apply text-aubergine-700 font-bold;
    }
    h3, h4 {
      filter: url(#xerox);
      @apply text-aubergine-700 font-bold;
    }

    img {
      filter: url(#xerox);
    }
  }
}
