---
import Filters from './Filters.astro';
---
<div class="p-2">
	Find me on:
  <ul class="flex flex-row gap-2">
    <li><a href="https://bluesky.social/@jonnyburch">Bluesky</a></li>
    <li><a href="https://www.linkedin.com/in/jonnyburch/">Linkedin</a></li>
    <li><a href="https://github.com/jonnyburch">Github</a></li>
    <li><a href="mailto:jonny@jonnyburch.com">jonny@jonnyburch.com</a></li>
  </ul>
</div>
<Filters />