---
import Filters from './Filters.astro';
---
<div class="text-sm py-8 container">
	<p class="pb-2">Find me on:</p>
  <ul class="flex flex-col list-none gap-2">
    <li class="text-sm underline"><a href="https://bluesky.social/@jonnyburch">Bluesky</a></li>
    <li class="text-sm underline"><a href="https://www.linkedin.com/in/jonnyburch/">Linkedin</a></li>
    <li class="text-sm underline"><a href="https://github.com/jonnyburch">Github</a></li>
    <li class="text-sm underline"><a href="mailto:jonny@jonnyburch.com">jonny@jonnyburch.com</a></li>
  </ul>
</div>
<div class="absolute bottom-0 right-0">
  <Filters />
</div>
