<div class="relative">
  <div  class="md:sticky top-0 left-0 md:rotate-90 py-2">
    <a href="/">
      <h1 class="font-display font-bold underline text-nowrap md:translate-x-1/2 hover-xerox">Jonny Burch</h1>
    </a>
  </div>
</div>
