---
interface Props {
	title: string;
	href: string;
	description: string;
	draft: boolean;
  date: date;
}

const { href, title, description, date, draft } = Astro.props;
---

<li class="">
		<a href={`/posts/${href}`} class="">
			<div class="flex flex-col wonky">
        <h3 class="font-display font-bold text-4xl underline hover-xerox">{title}</h3>
				<span class="">{date.toLocaleDateString()}:</span>
				{description && (
					<span class="opacity-50"> — {description}</span>
				)}
				{draft === true && (
					<span class="text-red-500">Draft</span>
				)}
			</div>
		</a>
</li>