---
interface Props {
	title: string;
	description?: string;
	ogImage?: string;
}

const { title, description = "A person", ogImage = "/og-image.jpg" } = Astro.props;
import "../styles/tailwind.css";
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Head from '../components/Head.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<Head title={title} description={description} />
	</head>
	<body>
		<div class="p-4 md:p-0 md:grid md:grid-cols-[50px_1fr]">
			<Header />
			<div class="content-container">
				<slot />
				<Footer />
			</div>
		</div>
	</body>
</html>